*{
    margin:0px;
    padding:0;
    box-sizing:border-box
}
body{
   background-color: rgb(153,218,201) ;
}
#intro-section{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    margin-top:160px;
    /* margin-left:25px; */ */
     
     
     
}
#intro-pic{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left:35px;; */
}
#img-1{
    width:250px
}
#Hi-homie{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top:290px; 
    /* margin-left:15px; */ */
}
#first-words{
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:400px;
    width:350px;
    row-gap: 100px;;
   
    
}
#first{
    color:white;
    font-size: 18px;
    
}
#first-1{
    font-size: 40px;
    font-weight: bold;
}
.btn-1{
    background-color:rgb(32, 134,165);
    color:white;
    border-radius: 20px;
    height:30px;
    width:150px

}
#btn-first{
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top:700px;
    
    
}





/* Media Querries about the first page */

@media screen and (min-width:500px){
    /* #intro-section{
       
        margin-left:100px;   
         
    } */
    #img-1{
        width:500px
    }

    #Hi-homie{
        position:absolute;
        margin-top:590px;
        /* margin-left:5px; */
    }
    #first-1{
        font-size: 100px;
        font-weight: bold;
    }
    #first-words{
        position:absolute;
        margin-top:800px;
        /* margin-left:10px; */
        font-size: 20px;
        /* width:250px; */
        
    }
    #btn-first{
        position:absolute;
        margin-top:1020px;
        /* margin-left:5px; */
    }
    
}
